{
  "presets": [
    "react",
    "es2015"
  ],
  "plugins": [
    [
      "import",
      { "libraryName": "antd-mobile", "style": "css","libraryDirectory": "lib"}
    ] // `style: true` 会加载 less 文件
  ]
}
