@import "~taro-ui/dist/style/components/form.scss";
@import "~taro-ui/dist/style/components/input.scss";
@import "~taro-ui/dist/style/components/image-picker.scss";
@import "~taro-ui/dist/style/components/icon.scss";
.index {
  flex-direction: column;
  width: 100%;
  padding-bottom: 100px;
  padding-bottom: calc(100px + constant(safe-area-inset-bottom));
  padding-bottom: calc(100px + env(safe-area-inset-bottom));
  *{
    font-size: 28px!important;
  }
  .at-input__title,.at-list__item-content{
    width: 250px;
    flex: none;
  }
  .at-list__item-content{
    margin-right: 16px;
  }
  .at-list__item{
    padding-left: 0;
    margin-left: 30px;
    &::after{
      left: 0;
    }
  }
  .at-list__item-extra{
    flex: 1;
    text-align: left;
    max-width: none;
  }
  .top-view{
    margin-left: 30px
  }
  .top-content{
    .text2{
      font-size: 24px;
    }
    .gray{
      color: #929397;
      padding-top: 10px;
    }
  }
  .box{
    margin-bottom: 30px;
    border-top: 20px solid #f2f2f2;
  }

  .bottom-button{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }
}
