
.IndexPage{
  width: 100%;
  height: 100%;
  padding-bottom: .6rem;
  *{
    font-size: .14rem!important;
  }
}
.gray-text{
  font-size: .12rem!important;
  color: #929397;
  margin-top: .12rem;
}
.item-box{
  background-color: #f2f2f2;
  padding-top: .1rem;
}
.am-list-item .am-input-label.am-input-label-5{
  width: 145px
}
.situation-content{
  .mansgeImgsList{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    padding: 0 8px;
    .img-box{
      flex: 1 1;
      .am-image-picker-list{
        padding-left: 0;
        padding-right: 0
      }
      .bottom-content{
        text-align: center;
        font-size: 12px!important;
      }
    }
  }
  .otherImgList{
    .bottom-content{
      width: 20%;
      text-align: center;
      font-size: 12px!important;
      padding-bottom: 20px;
    }
  }
}

.list-content{
  display: flex;
}
.button-content{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: .5rem;
  flex: 0 0 .5rem;
  padding: .05rem .1rem;
  border: 1px solid #f2f2f2;
  background: #fff;
  display: flex;
  justify-content: center;
  .button{
    height: 100%;
    width: 90%;
    border-radius: 100px;
    color: #fff;
    background: #197afa!important;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .15rem;
  }
}