/*
  变量定义
*/

//项目主色
$primary-color: #F0250F;

//文字颜色
$primary-text-color: #2e2d2d; // 主要文字
$secondary-text-color: #686868; // 次要文字
$placeholder-text-color: #b5b5b5; // 占位文字
$href-text-color: #4D88FF;

//body默认底色
$default-background: #f6f6f6;
// 背景色/分割线色
$border-color-base: #f6f6f6;

$white: #fff;
